* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}
/* main {
  width: 100vw;
  height: 100vh;
} */

.logo {
  background-image: url("/images/bg-hero-mobile.svg");
  background-color: hsl(193, 100%, 96%);
  width: 100%;
  padding: 40px;
  /* display: flex; */
}
.logoH {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.logoH img {
  /* position: relative; */
  width: 20%;
  height: 30px;
}
.logoH button {
  color: hsl(192, 100%, 9%);
  background-color: white;
  border: none;
  border-radius: 30px;
  width: 130px;
  margin-right: 70px;
  font-weight: 400;
  /* font-size: 18px; */
  font-family: "Open Sans", sans-serif;
}
.holder1 {
  padding: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holder1 img {
  /* background-color: red; */
  height: 500px;
  /* width: 70%; */
  margin-right: 30px;
  padding: 40px;
}
.holder1 h1 {
  /* background-color: red; */
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  padding-right: 50px;
  font-family: "poppins",sans-serif;
}
.holder1 p {
  margin-top: 40px;
  /* background-color: red; */
  font-size: 18px;
  padding-right: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.holder1 button {
  background-color: hsl(322, 100%, 66%);
  padding: 15px;
  border: none;
  border-radius: 30px;
  margin-top: 90px;
  width: 200px;
  /* font-size: 18px; */
  color: white;
  font-family: "Open Sans", sans-serif;
}

.grow {
  border: none;
  margin-top: 30px;
  margin: 100px;
  padding: 30px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.grow img {
  /* background-color: red; */
  height: 500px;
  margin-right: 30px;
  padding: 40px;
}
.grow h2 {
  margin-left: 60px;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  padding-right: 50px;
  font-size: 2rem;
  font-family: "poppins",sans-serif;
}
.grow p {
  margin-top: 40px;
  /* background-color: red; */
  font-size: 18px;
  padding-right: 50px;
  padding-left: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}

.conversation {
  border: none;
  margin-top: 30px;
  margin: 100px;
  padding: 30px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.conversation h2 {
  margin-left: 60px;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  padding-right: 50px;
  font-size: 2rem;
  font-family: "poppins",sans-serif;
}
.conversation p {
  margin-top: 40px;
  /* background-color: red; */
  font-size: 18px;
  padding-right: 50px;
  padding-left: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}
.conversation img {
  height: 500px;
  margin-right: 30px;
  padding: 40px;
}

.user {
  border: none;
  margin-top: 30px;
  margin: 100px;
  padding: 30px;
  margin-top: 80px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.user h2 {
  margin-left: 60px;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  padding-right: 50px;
  font-size: 2rem;
  font-family: "poppins",sans-serif;
}
.user p {
  margin-top: 40px;
  /* background-color: red; */
  font-size: 18px;
  padding-right: 50px;
  padding-left: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}
.user img {
  height: 500px;
  margin-right: 30px;
  padding: 40px;
}

.build{
  border-radius: 10px;
  bottom: -325%;
  padding-top: 50px;
  margin-left: 30%;
  padding-bottom: 50px;
  width: 50%;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.build h2{
  margin-left: 70px;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  padding-right: 50px;
  font-size: 2rem;
  font-family: "poppins",sans-serif;
}
.build button{
  background-color: hsl(322, 100%, 66%);
  padding: 15px;
  border: none;
  border-radius: 30px;
  margin-left: 200px;
  margin-top: 10px;
  width: 300px;
  /* font-size: 18px; */
  color: white;
  font-family: "Open Sans", sans-serif;
}

footer {

  background-color: hsl(192, 100%, 9%);
}
.footerContainer{
    padding-left: 100px;
    padding-bottom: 70px;
    padding-top: 100px;
    display: flex;
    width: 100%;
    /* background-color: yellow; */
    /* justify-content: space-between; */
}
/* footer .fImgLogo{
    color: white;
    background-color: red;
} */

.location{
  margin-top: 30px;
  /* background-color: red; */
  width: 200px;
  display: flex;
}
.location img{
  /* background-color: black; */
  padding: 20px;
}
.location p{
  font-family: "Open Sans", sans-serif; 
  font-size: 15px; 
  color: white;
  font-weight: 400;
}

.phone{
  margin-top: 30px;
  /* background-color: red; */
  width: 200px;
  display: flex;
}
.phone img{
  /* background-color: black; */
  padding: 5px;
}
.phone p{
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  padding-left: 15px;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.mail{
  margin-top: 30px;
  /* background-color: red; */
  width: 200px;
  display: flex;
}
.mail img{
  /* background-color: black; */
  padding: 5px;
}
.mail p{
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  padding-left: 15px;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.aboutContainer{
  /* background-color: red; */
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
  margin-top: 30px;
  /* padding-top: 50px; */
}
.aboutContainer p{
  margin-top: 50px;
  color: white;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.careerContainer{
  /* background-color: red; */
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
  margin-top: 30px;
}
.careerContainer p {
  margin-top: 50px;
  color: white;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.socialContainer{
  /* background-color: black; */
  /* background-color: red; */
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
  margin-top: 70px;
  width: 200px;
}
.fa{
  padding: 20px;
  /* font-size: 30px; */
  width: 50px;
  color: white;
}


@media (max-width: 375px) {
  body{
    background-image: url("/images/bg-hero-mobile.svg");
    width: 100%;
    
  }

  main{
    display: flex;
    flex-direction: column;
  }
  img{
    width: 50%;
    height: 50%;
  }
  
}